input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.5px 1.5px 0.3px rgba(0, 0, 80, 0.36), 0px 0px 1.5px rgba(0, 0, 106, 0.36);
  border: 5.1px solid rgba(0, 0, 0, 0);
  height: 39px;
  width: 41px;
  border-radius: 0px;
  background: #bbb9b6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bad4eb;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.5px 1.5px 0.3px rgba(0, 0, 80, 0.36), 0px 0px 1.5px rgba(0, 0, 106, 0.36);
  border: 5.1px solid rgba(0, 0, 0, 0);
  height: 39px;
  width: 41px;
  border-radius: 0px;
  background: #bbb9b6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #03070a;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.5px 1.5px 0.3px rgba(0, 0, 80, 0.36), 0px 0px 1.5px rgba(0, 0, 106, 0.36);
  border: 5.1px solid rgba(0, 0, 0, 0);
  height: 39px;
  width: 41px;
  border-radius: 0px;
  background: #bbb9b6;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #bad4eb;
}
