.scheduler {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scheduler,
.scheduler tr,
.scheduler th,
.scheduler td {
  border: 1px solid black;
  height: 10px;
  line-height: 10px !important;
}

.scheduler td,
.scheduler th {
  position: relative;
  font-size: 12px;
  text-align: center;
}

.scheduler .scheduler-hour-toggle,
.scheduler .scheduler-hour {
  width: 15px;
}

.scheduler-time-title,
.scheduler-week-title {
  padding: 0 15px;
}

.scheduler-time-title {
  text-align: right;
}

.scheduler-week-title {
  text-align: left;
}

.scheduler .slash {
  width: 80px;
  height: 55px;
}

.scheduler-active {
  background: #dff0d8;
}

.scheduler-day-toggle,
.scheduler-half-toggle,
.scheduler-hour-toggle {
  cursor: pointer;
}

.scheduler>tfoot>tr>td {
  text-align: left;
  padding: 0 5px;
}

.scheduler-reset {
  float: right;
}

.scheduler-active {
  background-color: #87bd41
}

.scheduler-disabled .scheduler-day-toggle,
.scheduler-disabled .scheduler-half-toggle,
.scheduler-disabled .scheduler-hour-toggle {
  cursor: default;
}

.scheduler-disabled .scheduler-active {
  background-color: #acdd6d
}