
:root {
    --brackets-color: white;
    --baselines-color: yellow;
    --bricks-color:white;
    --master-border-color:white;
    --master-color:white;
    --color-yellow:yellow;
    --color-blue:blue;
    --color-green:lightgreen;
    }

.btn-action {
    padding:20px;
    width: 200px;
    font-size: 1.2em;
  }


body {
  		background-color:#000; !important;
  		color: white;  		
  		font-family: 'Bai Jamjuree', sans-serif;
   	}

.yellowtext {
    color: var(--color-yellow);
    }

.block { 
    margin: 10px;
    min-width: 50px !important;
    min-height: 50px !important;
    background-color:  #262b30;
    border: solid 1px grey;
    color: white;
    border-radius: 1px;
    margin-bottom: 1px;
    padding: 0px;
    font-size: 0.8em;
    display: inline-table;
    }

.lockon {
    border: solid lightgreen 1px;
    background: #235c00;
    }

.lockoff {
    border: solid red 1px;
    background: #701e1e;
    }

.mastercolor {
  	color: var(--master-color)
    }

  #timefont {
  	font-family: 'Orbitron', sans-serif;
  	font-size: 1.5em;
  }

  #right{
     border-right:1px solid var(--brackets-color);   
     height:100%;
     font-size: 2em;
     border-bottom:1px solid var(--brackets-color);
     border-top:1px solid var(--brackets-color);
     /*margin: 5px;*/
      clear:left;
      display: inline;
      /*background-color: blue;*/
      padding-bottom: 5px;

  }

.middle {
  	display: inline;
  	font-size: 2.0em;
    }

#left{
      border-left:1px solid var(--brackets-color); 
      height:100%;
      font-size: 2em;
      border-bottom:1px solid var(--brackets-color);
      border-top:1px solid var(--brackets-color);
      display: inline;
      padding-bottom: 5px;
      }

.bracket_title{
  	padding: 0px;
    position: relative;
    top: 12px;
    font-size: 0.8em;
    /*z-index: 100;*/
    }

.bracket_bottom_title_therm {
    color: var(--color-yellow);
    font-size: 0.7em;
    /*background-color: red;*/
    position: relative;
    bottom:10px;
    z-index: 500;
    }

.bracket_bottom_title_dht {
    color: var(--color-green);
    font-size: 0.7em;
    position: relative;
    bottom:10px;
    z-index: 501;
    }

#brick {
  	margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: 0.1em;

    /*border-radius: 10px !important;*/

    }

#line {
  	border-bottom:1px solid var(--baselines-color);
    }

.yellow {
  	color: yellow;
    }

.currenttime 
    {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 100px;
    }

.atotext {
    font-size: 0.8em;
    }

.bracketbox {
    text-align: center;
    display: inline-block;


    }

.carddash {
  /*border: solid 1px lightblue;*/
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px !important;
  /*background-color: #001133 !important;*/
  background-color: #001133 !important;
  }

.headerdash {
  background-color: #404040;;
  color: white;
  padding: 10px;
  padding-bottom:5px;
  background-color: #001133 !important;
  border-radius: 5px !important;
  }

.containerdash {
  padding: 2px !important;
  border:solid 1px #333333;
  line-height: 1.0em;
  background-color: black;
  margin:3px;
  border-radius: 5px !important;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
